<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <connectionStrings>
        <add name="WindowsFormsApp4.Properties.Settings.datadbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\datadb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="datadbEntities" connectionString="metadata=res://*/dbentityframework.csdl|res://*/dbentityframework.ssdl|res://*/dbentityframework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\datadb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>